#biliVideoCard {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.221);
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

#biliVideoCard #card-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#biliVideoCard #title {
    font-size: 18px;
    line-height: 1.2;
    color: #fb7299;
}

#biliVideoCard #desc {
    font-size: 16px;
    color: #888;
    padding: 5px;
    line-height: 1.2;
}

#biliVideoCard #card-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#biliVideoCard #card-content #tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#biliVideoCard #card-content #tag-list #tag {
    background-color: #00aeec;
    color: white;
    padding: 4px 4px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

#biliVideoCard #card-content #card-content-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    margin-top: auto;
    /* 将内容推至底部 */
}

#biliVideoCard #card-content #card-content-bottom .card-content-bottom-detail {
    width: calc(50% - 5px);
    /* 每个元素占50%宽度，并考虑间隔 */
    /* 示例背景颜色 */
    border-radius: 5px;
    padding: 3px;
    box-sizing: border-box;
    text-align: center;
}

#biliVideoCard #card-content #type {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #fb7299;
    padding: 4px 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}


#biliVideoCard div:not(#title):not(#tag-list) {
    font-size: 14px;
    margin-bottom: 3px;
}